#line1 {
	border: 1px solid black;
	background-color: #00CCFF;
	width: 15px;
	height: auto;
	text-align: center;
	border-radius: 75%;
	margin-left: 2px;
}

div {
	display: inline-block;
}
#imag{
width:10px;
height:10px;
}
#box1 {
	margin-left: 25px;
	margin-top: 3px;
	border: 1px solid black;
	width: 40px;
	background-color: red;
}

#sefu1,#sefu2 {
	display: inline-block;
	float: left;
}

#sefu2 {
	margin-top: -4px;
	margin-left: 40px;
}

#sefu3 {
	margin-top: -4px;
	margin-left: 40px;
	display: inline-block;
	float: left;
}

#box22 {
	margin-left: 20px;
	margin-top: 24px;
	border: 1px solid black;
	width: 40px;
}

#box33 {
	width: 40px;
	margin-top: 30px;
	margin-left: 95px;
	border: 1px solid black;
}

#box3 {
	width: auto;
	margin-top: 30px;
	margin-left: 95px;
	border: 1px solid black;
	background-color: red;
}

#box4 {
	width: auto;
	margin-top: 30px;
	margin-left: 160px;
	border: 1px solid black;
	background-color: red;
}

sup>input {
	border-radius: 50%;
	height: 12px;
	width: 12px;
}

input,select,textarea {
	color: red;
}

#opt1,#opt2,#opt3 {
	margin-top: 10px;
}

#opt2 {
	margin-left: 10px;
}

#opt3 {
	margin-left: 20px;
}

span {
	color: red;
}

#sefu4 {
 margin-top: -4px;
 float:left;
 display: inline-block;
}
#text1{
display:inline-block; 
float:left;
}

#blueBox4,#lastInput {
	height: 12px;
	width: 14px
}

#box2 {
	margin-left: -5px;
	margin-top: 24px;
	border: 1px solid black;
	width: 40px;
}

#box7 {
	margin-left: 40px;
	margin-top: 24px;
	border: 1px solid black;
	width: 40px;
	color: red;
}

#box8 {
	margin-left: 98px;
	margin-top: -5px;
	border: 1px solid black;
	width: 40px;
	color: red;
}

#box9 {
	margin-left: 155px;
	margin-top: -5px;
	border: 1px solid black;
	width: 40px;
	color: red;
}

#box10 {
	margin-left: 215px;
	margin-top: -10px;
	border: 1px solid black;
	width: 40px;
	color: red;
}

#box11 {
	margin-left: 270px;
	margin-top: 10px;
	border: 1px solid black;
	width: 40px;
	color: red;
}

#box12 {
	margin-left: 330px;
	margin-top: 13px;
	border: 1px solid black;
	width: 40px;
	color: red;
}

#box13 {
	margin-left: 425px;
	margin-top: 15px;
	border: 1px solid black;
	background-color: red;
}
#chenar {
	margin-left: 50px;
	border: 1px solid black;
	display: inline-block;
}
#inputChenar {
	width: 15px;
}
#redSpan {
	color: red;
}
#checkFinal, #checkFinal2 {
	border: 1px solid white;
}
#imgCheck, #imgCheck2, #imgWrong {
	height: 20px;
	width: 20px;
}
