#line1 {
	border: 1px solid black;
	background-color: #3366FF;
	width: 15px;
	height: auto;
	text-align: center;
	border-radius: 75%;
	margin-left: 2px;
}
div {
	display: inline-block;
}
#ceva {
	-moz-transform: rotate(45deg);
   	-webkit-transform: rotate(45deg);
}
#child {
	width: 40px;
	color: black;
	margin-top: -25px;
	margin-left: -20px;
}
#parent {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-top: 10px;
	margin-right: -10px;
}
#parent2 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	margin-left: 20px;
}
#child2 {
	height: 30px;
	color: black;
}