w@CHARSET "UTF-8";
img {
	height: 20px;
	width: 20px;
}
td {
	border: 1px solid black;
	width: 25px;
	height: 22px;
	text-align: center;
}
.roundInput {
	border-radius: 40%;
	height: 16px;
	width: 16px;
}
.greenCell{
	background-color: green;
}
#ex1 {
	float: left;
}
#tab1 {
	margin-left: 20px;
	float: left;
	border: 1px solid white;
}
#tab2 {
	margin-left: 90px;
	margin-top: 0px;
	float: left;
	background-color: #FFFFCC;
}
input, select, textarea{
    color: red;
}
#btna,#btnb,#btnc,#btnd{
	float: left;
}
#diva, #divb, #divc, #divd {
	height: auto;
	width: 300px;
}
.same1 {
	border: 1px solid white;
}

.td1 {
	border: 1px solid white;
}
img {
	height: 20px;
	width: 20px;
}
#input88 {
	width: 20px;
}
.dTd > td{
	height: auto;
	width: auto;
	border: 1px solid white;
}
#dwrong2 {
	margin-left: auto;
}
#dwrong1 {
	margin-left: auto;
}
#dcheck1 {
	margin-left: auto;
}
